:root {
    --main-ac-color: rgb(46, 153, 31);
    --main-tx-color: white;
    --mian-ft-style: 'Times New Roman', Times, serif;
  }

.header {
    display: block;
    font-family: (--main-ft-style);
    font-size: 4vw;
    font-weight: bold;
    margin: 1%;
}

.text {
    display: block;
    font-family: (--main-ft-style);
    font-size: 1.7vw;
    margin: 1%;
}

#t1 {
  
}